@font-face {
    font-family: "Caesar Dressing";
    src: url("caesar-dressing.woff2");
}

body  {
font-family: sans-serif;
font-size: 150%;
text-align: justify;
background-color: Moccasin;
margin: 0 20%;
}

h1  {
    font-family: 'Caesar Dressing', cursive;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

strong  {
  text-transform: capitalize;
  }

svg  {
  float: left;
  margin-right: 30px;

}

h2  {
  font-family: 'Caesar Dressing', cursive;
  font-size: 200%;
  color: red;
  border-top: 7px dashed blue;
  padding-top: 30px;
  margin-bottom: 20px;

}

q   {
  background-color: white;
  font-style: italic;
}
