body {
  background-color: hsl(35, 100%, 90%);
  font-family: sans-serif;
  
}

h1 {
  text-transform: uppercase;
  color: brown;
}

.intro {
  font-size: 2rem;
  color: orange;
}

details {
  font-family: sans-serif;
  
}

summary {
  font-size: 4rem;
}

span {
  font-size: 4rem;
}

.impar {
  background-color: pink;
}

.par {
  background-color: white;
}

p {
  font-size: 2rem;
}